.card-clean {
  border-radius: 16px;
  border: 1px solid #EAEBEC;
  background-color: #FFFFFF;
}

.list-group-item {
  background-color: #F8FAF9;
  border: 1px solid #EAEBEC;
  margin-bottom: 8px;
  border-radius: 8px;
  color: #111111;
  transition: 0.2s;
}

.list-group-item.active {
  background-color: #DDF3EB;
  border-color: #71EBBE;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #F1F2F3;
}

.bg-light {
  background-color: #F8FAF9;
}

.btn-outline-green {
  display: inline-flex;
  align-items: center;
  border: 1px solid #71EBBE;
  color: #111111;
  border-radius: 8px;
  height: 37px;
  border-radius: 6px;
  font-size: 13.5px;
  font-weight: 500;
}

.btn-outline-green:hover {
  background-color: #71EBBE;
  color: #111111;
}

.title {
  font-weight: 700;
  font-size: 28px;
}

.subtitle {
  color: #6C757D;
  font-size: 16px;
  margin-bottom: 0px;
}

.memo-text {
  white-space: pre-line;
}
